
/* _contact.scss */
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  margin-top: 3rem;
}

.form-section form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 10rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(255, 44, 104, 0.2);
  border-radius: 2rem;
}

.form-section form input, .form-section form textarea {
  margin: 2rem;
}

.form-section form input:focus, .form-section form textarea:focus {
  outline: 2px solid #ff2c68;
}

.form-section form textarea {
  font-family: "Manrope", sans-serif;
  font-size: 2rem;
}

.form-section form button {
  width: 100%;
  padding: 2rem;
  cursor: pointer;
  background: #ff2c68;
  color: white;
  border: none;
}

.form-section form button:focus {
  background: #ff8eae;
}
