
/* _intro.scss */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
  width: 90%;
  margin: auto;
  padding-top: 4rem;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  background: linear-gradient(#0d335f, #38a4d3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.intro h3 {
  font-size: 6rem;
  padding: 2rem 0;
}

.intro p {
  padding-top: 2rem;
  color: #2c2c2c;
  font-size: 2rem;
  max-width: 70rem;
}

.intro-social {
  margin-top: 4rem;
}

.intro-social a {
  margin-right: 3rem;
}

.intro-text, .intro-images {
  flex: 1 1 40rem;
}
