.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Five columns in the first row */
  gap: 20px;
  text-align: center;
}

.projects > div:nth-child(n+6) {
  grid-column: span 1; /* Items in the second row span one column */
  grid-row: 2; /* Place these items explicitly in the second row */
}

.Travelly,
.Photographer,
.People-Counter,
.link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.Travelly img,
.Photographer img,
.People-Counter img,
.link-item img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.Travelly img:hover,
.Photographer img:hover,
.People-Counter img:hover,
.link-item img:hover {
  transform: scale(1.05);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(rgba(255, 102, 0, 0.44), rgba(255, 0, 123, 0.55));
  color: white;
  padding: 10px 5%;
  min-height: 7vh;
}

footer h4 {
  flex: 1 1 auto;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

footer ul li {
  padding: 0 1rem;
  list-style: none;
}

footer ul li a img {
  width: 24px;
  height: auto;
}

@media screen and (max-width: 754px) {
  .projects {
    grid-template-columns: 1fr; /* Stack items vertically for smaller screens */
    gap: 10px;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer h4 {
    margin-bottom: 10px;
  }

  footer ul {
    flex-direction: column;
    margin-top: 10px;
    list-style: none;
  }

  footer ul li {
    margin-bottom: 10px;
  }
}
